.App {
  text-align: center;
  padding: 0 20px;
}

.csv-input label{
  font-weight: bold;
}

.csv-input {
  padding: 10px;
  display: block;
  margin: 15px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contacts-filter {
  padding: 10px;
  margin: 15px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contacts-filter input {
  width : 80%
}

 table{
  border: 1px solid grey;
  border-collapse: collapse;
}

 tr:nth-child(even) {
  background-color: lightgray;
}

th , td {
 padding: 5px;
 text-align: left;
 border: 1px solid grey;
      }
